<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">
    <a href="../home/home.html">
      <img
        src="/images/BugSentryLogo.png"
        alt="Logo"
        height="50px"
        class="ps-5"
      />
    </a>
    <a class="navbar-brand px-2" href="../home/home.html">
      <h2>Bug Sentry</h2>
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownLanguageId"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bi bi-globe-americas fs-4 align-middle"></i>
            Language</a>
          <div class="dropdown-menu" aria-labelledby="dropdownLanguageId">
            <a class="dropdown-item" href="#">VIE</a>
            <a class="dropdown-item" href="#">ENG</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownContactId"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bi bi-envelope fs-4 align-middle"></i>
            Contact</a>
          <div class="dropdown-menu" aria-labelledby="dropdownContactId">
            <a class="dropdown-item" href="#">Email</a>
            <a class="dropdown-item" href="#">ABC</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownHelpCenterId"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bi bi-question-circle fs-4 align-middle"></i>
            Help Center
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownHelpCenterId">
            <a class="dropdown-item" href="#">About</a>
            <a class="dropdown-item" href="#">Privacy</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownAccountId"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle fs-4 align-middle"></i>
            Account</a>
          <div class="dropdown-menu" aria-labelledby="dropdownAccountId">
            <a class="dropdown-item" href="../profile/edit-profile.html">Edit
              Profile</a>
            <a class="dropdown-item" href="../profile/edit-password.html">Change
              Password</a>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>