<nav
      class="navbar navbar-expand-lg navbar-light bg-light justify-content-between position-fixed"
      style="width: 100%; z-index: 1; top: 0;"
    >
        <div class="navbar-brand"> 
          <a href="#">
            <img
              src="/images/BugSentryLogo.png"
              alt=""
              width="50"
              height="auto"
            />
            BUG SENTRY</a
          >
        </div>
        <div>
          <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarHomeSupportedContent"
          aria-controls="navbarHomeSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarHomeSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="./home-features.html">
                Features
              </a>
              <div class="dropdown-menu justify-content-around" aria-labelledby="navbarDropdownFeatures" style="width: 80%; left: 10%;">
                <ul>
                  <li><a class="dropdown-item">VALUE ADDED FEATURE</a></li>
                  <li><a class="dropdown-item">Report </a></li>
                  <li><a class="dropdown-item">Mind map </a></li>
                  <li><a class="dropdown-item">Sharable Dashboard </a></li>
                  <li><a class="dropdown-item">Performance Metrics</a></li>
                </ul>
                <ul>
                  <li><a class="dropdown-item">COOL FEATURE</a></li>
                  <li><a class="dropdown-item">Activity Log</a></li>
                  <li><a class="dropdown-item">Screen Recording of Issues</a></li>
                </ul>
                <ul>
                  <li><a class="dropdown-item">TASK MANAGEMENT</a></li>
                  <li><a class="dropdown-item">Board</a></li>
                  <li><a class="dropdown-item">Timesheet</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="home-integrations.html" id="navbarDropdownIntegrations">
                Integrations
              </a>
              <div class="dropdown-menu justify-content-around" aria-labelledby="navbarDropdownIntegrations" style="width: 80%; left: 10%;">
                <ul>
                  <li><a class="dropdown-item">TWO WAY INTEGRATION</a></li>
                  <li><a class="dropdown-item">JIRA Cloud</a></li>
                  <li><a class="dropdown-item">Github</a></li>
                  <li><a class="dropdown-item">Gitlab</a></li>
                </ul>
                <ul>
                  <li><a class="dropdown-item">ISSUE TRACKING INTEGRATION</a></li>
                  <li><a class="dropdown-item">JIRA Software</a></li>
                  <li><a class="dropdown-item">Trello</a></li>
                </ul>
                <ul>
                  <li><a class="dropdown-item">COLLABORATE AND GET MORE</a></li>
                  <li><a class="dropdown-item">Slack</a></li>
                  <li><a class="dropdown-item">Microsoft Azure Board</a></li> 
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./home-case-studies">Case Studies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownResources">
                Resources
              </a>
              <div class="dropdown-menu justify-content-around" aria-labelledby="navbarDropdownResources" style="width: 80%; left: 10%;">
                <ul>
                  <li><a class="dropdown-item">PAST EVENT</a></li>
                  <li><a class="dropdown-item">Deployment days</a></li>
                </ul>
                <ul>
                  <li><a class="dropdown-item">BLOG</a></li>
                  <li><a class="dropdown-item">Why BugSentry ?</a></li>
                  <li><a class="dropdown-item">What new in BugSentry ?</a></li>
                  <li><a class="dropdown-item">Read more</a></li>
                </ul>
                <ul>
                  <li><a class="dropdown-item">OTHER RESOURCES</a></li>
                  <li><a class="dropdown-item">Knowledge base</a></li>
                  <li><a class="dropdown-item">Roadmap</a></li>
                  <li><a class="dropdown-item">API</a></li>
                </ul>
                <ul>
                  <li><a class="dropdown-item">PRODUCT UPDATE</a></li>
                  <li><a class="dropdown-item">Release Note</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        </div>
        
        <div class="d-flex mx-5">
          <div class="btn btn-main-color btn-outline-white text-white mx-2"> <a class="text-white" href="./register" style="text-decoration: none;">Register</a></div>
          <div class="btn btn-outline-main-color mx-2"><a class="text-dark" href="./login" style="text-decoration: none;">Sign in</a></div>
        </div>
      </div>
    </nav>