<footer class="bg-main-color position-relative">
  <div class="footer-content-box">
    <img src="/images/BugSentryLogo.png" alt="logo" width="50" />
    <a
      href="#"
      style="font-weight: bold; font-size: 25px; text-decoration: none; color: white;"
    >BUG SENTRY</a>
    <p>Revolutionize your approach to testing management with our
      state-of-the-art software solution.</p>
    <div class="icon-box">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
  <div class="footer-content-box">
    <h4>Product</h4>
    <li><a href="./home-features.html">Features</a></li>
    <li><a href="./home-integrations.html">Integrations</a></li>
    <li><a href="./home-case-studies.html">Case Studies</a></li>
    <li><a href="#">Resources</a></li>
  </div>
  <div class="footer-content-box">
    <h4>Help</h4>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Condition</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">FAQs</a></li>
  </div>
  <div class="footer-content-box">
    <h4>Contact</h4>
    <li><a href="#">(406) 555-0120</a></li>
    <li><a href="#">pldppldp123@gmail.com</a></li>
    <li><a href="#">227 Nguyen Van Cu, District 5, Ho Chi Minh City</a></li>
  </div>
</footer>