<nav class="navbar navbar-expand navbar-light">
  <ul class="nav navbar-nav" id="navbar-in-project">
    <li class="nav-item">
      <a class="nav-link active" href="overview">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./administration">Administration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./requirements.hbs">Requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./attachment.hbs">Attachments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./release.hbs">Releases</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./module.hbs">Modules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./testcase.hbs">Test Cases</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./testrun.hbs">Test run</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./issues.hbs">Issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./activity-log.hbs">Activity log</a>
    </li>
  </ul>
</nav>