{{#section "scripts"}}
<script src="/scripts/login.js"></script>
{{> notifications }}
{{/section}}

{{#section "head"}}
<title>Login</title>
<link rel="stylesheet" href="/styles/login.module.css" />
{{/section}}

<section>
  <div class="box-form mt-4">
    <div class="intro">
      <div class="intro_overlay">
        <div class="intro_container">
          <div class="intro_title linked">
            <img src="/images/BugSentryLogo.png" width="100px" srcset="" />
            BUG SENTRY
            <a href="/project"></a>
          </div>
          <div class="intro_description"></div>
          <div class="intro_text_sociallogin">Login with social media</div>
          <div class="intro_sociallogin">
            <a href="https://www.facebook.com"><img class="sociallogin-icon"
                src="https://img.icons8.com/fluency/40/000000/facebook-new.png" /></a>
            <a href="https://www.facebook.com"><img class="sociallogin-icon"
                src="https://img.icons8.com/color/40/000000/gmail-new.png" /></a>
            <a href="https://www.facebook.com"><img class="sociallogin-icon"
                src="https://img.icons8.com/fluency/40/000000/twitter.png" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="loginform">
      <div class="loginform_container">
        <div class="loginform_title">Login</div>
        <div class="loginform_instruct">
          Don't have an account?
          <a href="/register" class="signup">Create Your Account</a>
          it takes less than a minute
        </div>
        <div id="warning_signin"></div>
        <form action="" method="POST">
          <div class="mainform">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input id="login_username" placeholder="username/email" type="text" name="email" />
            <input id="login_password" placeholder="password" type="password" name="password" />
          </div>
          <div class="loginform_saved_forgotpassword">
            <div class="savedpassword">
              <input type="checkbox" name="remembered" id="checkbox" />
              <label for="checkbox">Remember</label>
            </div>
            <a href="#" class="forgotpassword" style="text-decoration: none">Forgot password</a>
          </div>
          <button id="button_login" class="buttonlogin">Login</button>
        </form>
      </div>
    </div>
  </div>



</section>