<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="icon" href="/images/BugSentryLogo.png" type="image/.jpg" />
  </head>
  <!-- Bootstrap JavaScript Libraries -->

  <link rel="stylesheet" href="/styles/global.css" />
  <link rel="stylesheet" href="/styles/register.module.css" />

  <body>
    <div class="box-form h-100">
      <div class="loginform">
        <div class="loginform_container">
          <div class="loginform_title">
            Register
            <img width="30px" src="/images/BugSentryLogo.png" alt="" />
          </div>
          <form action="/register" method="POST" >
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="mainform">
              <label for="signup_email"> Email (*)</label>
              <input
                id="signup_email"
                placeholder="email"
                type="email"
                name="email"
              />
                     <label for="signup_firstname"> First name (*)</label>
              <input
                id="signup_firstname"
                placeholder="first name"
                type="text"
                name="first_name"
              />
            
            
              <label for="signup_lastname"> Last name (*)</label>
              <input
                id="signup_lastname"
                placeholder="Last name"
                type="text"
                name="last_name"
              />
               

              <label for="signup_password"> Password (*)</label>
              <input
                id="signup_password"
                placeholder="password"
                type="password"
                name="password"
              />
              <input
                id="signup_password_again"
                placeholder="password again"
                type="password"
              />
              
       
              

              <label> Gender (*)</label>
              <div class="container_gender">
                <div class="container_gender_wrap">
                  <input
                    id="signup_gender_male"
                    type="checkbox"
                    name="male"
                    value="male"
                  />
                  <label for="signup_gender_male"> Male</label>
                </div>
                <div class="container_gender_wrap">
                  <input
                    id="signup_gender_female"
                    type="checkbox"
                    name="female"
                    value="female"
                  />
                  <label for="signup_gender_female"> Female</label>
                </div>
              </div>
              <label> Role (*)</label>
              <select name="role" id="" class="">
                {{#each roles}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
             
              </select>
            </div>
            <button id="button_signup" class="buttonlogin">Sign Up</button>
          </form>
          <div class="loader hidden"></div>
          <div class="bottomform">
            <div class="required"><span>*</span>: Required</div>
            <a href="/login">Login</a>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/register.js"></script>

     <script>
    // Check if error message exists and display it
    $(document).ready(function () {
            var errorMessage = "{{error_msg}}";
            if (errorMessage.trim() !== "") {
                $.notify(errorMessage, "error");
            }
        });
  </script>
  </body>
</html>