.column {
  width: 200px;
  background-color: lightblue;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

li {
  list-style: none;
}

.text-box {
  width: calc(100% - 20px); /* Adjust for padding */
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn {
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  background-color: lightgreen;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 50%;
}
