.right-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul li {
  list-style: none;
  margin: 0.8rem;
}

.navbar-brand a {
  text-decoration: none;
  font-size: 25px;
  color: #034f75;
  font-weight: bold;
  padding-left: 30px;
}
