.btn-main-color {
  background-color: #034f75 !important;
}

.btn-main-color:hover {
  border-color: #034f75;
  color: #034f75;
}

.btn-outline-main-color {
  border-color: #034f75;
}

.bg-main-color {
  background-color: #034f75;
}

.bg-grey {
  background-color: #edf1f4;
}

.text-small {
  font-size: 0.6rem !important;
}

.navbar-brand a {
  text-decoration: none;
  font-size: 25px;
  color: #034f75;
  font-weight: bold;
  padding-left: 30px;
}
