:root {
  --primary-color: #034f75;
  --blur-green-color: rgba(47, 140, 153, 0.5);
  --bold-green-color: #01273a;
  --tertiary-color: #f3f3f3;
  --semi-grey-color: #f3f3f3;
  --grey-color: #edf1f4;
  --grey-blur-color: #e4e4e429;
  --active-blue-btn-color: #139cc6;
  --hover-red-btn-color: #c94c4c;
  --active-red-btn-color: #ff7878;
  --blur-color: #909090;
  --overlay-color: rgba(76, 78, 79, 0.284);
}

.bg-active-blue-color {
  background-color: var(--active-blue-btn-color) !important;
}

.btn-main-color {
  background-color: var(--primary-color) !important;
}

.nav-pills li a:hover {
  background-color: var(--primary-color);
  color: #fff !important;
}

.custom-bold-btn {
  background-color: var(--primary-color);
  color: #fff;
}

.blur-green-theme,
.blur-green-theme td,
.blur-green-theme th {
  background-color: var(--semi-green-color);
  color: white;
}

.custom-bold-btn:hover {
  background-color: var(--bold-green-color);
  color: #fff;
}

.save-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.cancel-btn:hover {
  background-color: #c94c4c;
  color: #fff;
}

.bg-grey {
  background-color: var(--grey-color);
}

.bg-grey-blur {
  background-color: var(--grey-blur-color);
}

.bg-semi-grey {
  background-color: var(--semi-grey-color);
}

.semi-rounded {
  border-radius: 5px;
}

.ml-2 {
  margin-left: 2rem;
}

.font-weight-semibold {
  font-weight: 500;
}

.pointer-cursor {
  cursor: pointer;
}

.min-h-50 {
  min-height: 50vh;
}

.font-color-blur {
  color: var(--blur-color);
}

.eclipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.save-btn {
  background-color: var(--active-blue-btn-color);
  color: #fff;
}

.cancel-btn {
  background-color: #ff7878;
  color: #fff;
}

.btn-main-color {
  background-color: var(--primary-color) !important;
}

.btn-main-color:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-main-color {
  border-color: var(--primary-color);
}

.bg-main-color {
  background-color: var(--primary-color);
}

.text-small {
  font-size: 0.6rem !important;
}

.navbar-brand a {
  text-decoration: none;
  font-size: 25px;
  color: var(--primary-color);
  font-weight: bold;
  padding-left: 30px;
}

.nav-link {
  padding: 0.5rem 0.2rem;
}

.fs-8rem {
  font-size: 0.8rem;
}

.sidebar {
  max-width: 6rem;
}

.green-dark-theme {
  background-color: var(--primary-color);
  color: #fff;
}

.overlay {
  background-color: var(--overlay-color);
}

.blur-green-theme,
.blur-green-theme td,
.blur-green-theme th {
  background-color: var(--blur-green-color);
  color: white;
}

.text-hover-light:hover {
  color: #ffffff !important;
}
.text-hover-blurgrey:hover {
  color: var(--blur-color) !important;
}
.semi-rounded {
  border-radius: 5px;
}

.ml-2 {
  margin-left: 2rem;
}

input {
  outline: none;
  border: none;
  border-radius: 5px;
}

.font-weight-semibold {
  font-weight: 500;
}

.pointer-cursor {
  cursor: pointer;
}

.checkbox-lg {
  width: 1.2rem;
  height: 1.2rem;
  top: 0.2rem;
}
