<div class="container-fluid">
  <div class="row">
    <!-- Side bar -->
    {{> sidebar_main}}
    <!-- Main content -->
    <div class="col-md-11 col-lg-11 col-xl-11 bg-gray px-4">
      {{> nav_main}}
      <div class="container-fluid bg-light py-2">
        <div class="align-items-center d-flex">
          <div class="d-inline-block">
            <h5 class="ms-4 my-3">Manage Users</h5>
          </div>
          <div class="d-inline-block ms-auto me-3">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle p-2"
                type="button"
                id="dropdownMenu1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Select User Type
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <button class="dropdown-item" type="button">
                    Project Manager
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Tester
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Developer
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-inline-block me-3">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle p-2"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                All users
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <button class="dropdown-item" type="button">
                    All users
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Active users
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Inactive users
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-inline-block me-3">
            <div id="add-user" class="mx-4 my-3 d-flex btn custom-bold-btn">
              <div class="me-2 p-1">
                <a
                  href="./add-user.html"
                  style="text-decoration: none"
                  class="text-light"
                >
                  Add User
                </a>
              </div>
              <img src="../../../public/icons/add.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-4">
        <div class="col-md-5">
          <div class="d-flex flex-row justify-content-between">
            <div class="total-user d-flex align-items-center">
              <div class="round-background mr-1rem">
                <i class="fas fa-users fa-2x text-warning icon-user"></i>
              </div>
              <div class="total-user-text">
                <p>Total Users</p>
                <p>3</p>
              </div>
            </div>
            <div class="active-user d-flex align-items-center">
              <div class="round-background mr-1rem">
                <i class="fas fa-user-check fa-2x text-success icon-user"></i>
              </div>
              <div class="active-user-text">
                <p>Active Users</p>
                <p>3</p>
              </div>
            </div>

            <div class="unactive-user d-flex align-items-center">
              <div class="round-background mr-1rem">
                <i class="fas fa-user-xmark fa-2x text-danger icon-user"></i>
              </div>
              <div class="unactive-user-text">
                <p>Unactive Users</p>
                <p>0</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-light mt-4 py-2">
        <div class="align-items-center d-flex">
          <div class="d-inline-block">
            <h5 class="ms-4 my-3">Show</h5>
          </div>
          <div class="d-inline-block ms-2">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle p-1"
                type="button"
                id="dropdownMenu1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="min-width: 100px"
              >
                3
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <button class="dropdown-item" type="button">5</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">15</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">20</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="d-inline-block">
            <h5 class="ms-4 my-3">Entries</h5>
          </div>
          <div class="d-inline-block ms-auto" style="min-width: 500px">
            <div class="input-group rounded">
              <input
                type="search"
                class="form-control rounded"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-grey py-3">
        <div class="row">
          <div class="col fs-5 text-color-1">Name</div>
          <div class="col fs-5 text-color-1">Email</div>
          <div class="col fs-5 text-color-1">User Type</div>
          <div class="col fs-5 text-color-1">Status</div>
          <div class="col fs-5 text-color-1">Action</div>
        </div>
      </div>
      <div class="container-fluid bg-light py-3">
        <div class="row">
          <div class="col text-color-1">Phan Le Dac Phu</div>
          <div class="col text-color-1">
            21120111@student.hcmus.edu.vn
          </div>
          <div class="col text-color-1">Project Manager</div>
          <div class="col text-color-1">Active</div>
          <div class="col text-color-1 d-flex">
            <i class="bi bi-lock pe-4"></i>
            <i class="bi bi-pencil pe-4"></i>
            <i class="bi bi-trash pe-4"></i>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col text-color-1">Nguyen Ngoc Thien An</div>
          <div class="col text-color-1">
            21120001@student.hcmus.edu.vn
          </div>
          <div class="col text-color-1">Developer</div>
          <div class="col text-color-1">Active</div>
          <div class="col text-color-1 d-flex">
            <i class="bi bi-lock pe-4"></i>
            <i class="bi bi-pencil pe-4"></i>
            <i class="bi bi-trash pe-4"></i>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col text-color-1">Do Khai Hung</div>
          <div class="col text-color-1">
            21120462@student.hcmus.edu.vn
          </div>
          <div class="col text-color-1">Tester</div>
          <div class="col text-color-1">Active</div>
          <div class="col text-color-1 d-flex">
            <i class="bi bi-lock pe-4"></i>
            <i class="bi bi-pencil pe-4"></i>
            <i class="bi bi-trash pe-4"></i>
          </div>
        </div>

        <div class="row mt-5 align-content-center">
          <div class="col">
            <h4>Showing 1 to 3 of 3 entries</h4>
          </div>
          <div class="col d-flex align-items-center">
            <button class="border-0 rounded-3 p-2 text-muted ms-auto">
              <i class="bi bi-chevron-double-left"></i>
            </button>
            <div
              class="bg-main-color rounded-circle d-flex justify-content-center align-items-center mx-3"
              style="width: 40px; height: 40px"
            >
              <h1 class="mb-0 text-light" style="font-size: 1.5rem">3</h1>
            </div>
            <button class="border-0 rounded-3 p-2 text-muted me-3">
              <i class="bi bi-chevron-double-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>