{{> nav_home}}
<div class="herosection m-4 position-relative" style="top: 150px;">
  <div class="bg-image">
    <img
      class="d-block mx-auto my-5 position-relative"
      src="/images/herosection_image.png"
      width="80%"
      height="auto"
      alt="hero section image"
    />
    <div
      class="mask justify-content-center text-left position-absolute"
      style="top: 50%; left: 50%; transform: translate(-80%, -50%); text-align: left; color: #034f75;"
    >
      <h2>Revolutionize your approach to testing management with our
        state-of-the-art software solution.</h2>
      <button class="btn btn-main-color m-3">
        <a
          href="../project/project-list.html"
          style="text-decoration: none;"
          class="text-white"
        >Get Started</a>
      </button>
    </div>
  </div>
</div>
{{> footer_home}}
