<div class="container-fluid">
            <div class="row">
                <!-- Side bar -->
                {{> sidebar_main}}
                <!-- Main content -->
                <div class="col-md-11 col-lg-11 col-xl-11 bg-grey px-4">
                    <nav class="navbar navbar-expand navbar-light">
                        <ul class="nav navbar-nav" id="navbar-in-project">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Overview</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../administration/administration.html">Administration</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../requirement/requirements.html">Requirements</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../attachment/attachment.html">Attachments</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../release/release.html">Releases</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../module/module.html">Modules</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../testcase/testcase.html">Test Cases</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../test-run/test-run.html"
                                >Test run</a
                            >
                        </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../issues/issues.html">Issues</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="../project/activity-log.html">Activity log</a>
                          </li>
                        </ul>
                      </nav>
                    <div class="container bg-light">
                        <div class="d-flex flex-nowrap py-2 ">
                            <h4 class="ms-3 text-success">Project list</h4>
                            <h4 class="ms-3"> > </h4>
                            <h4 class="ms-3"> project 1</h4>
                        </div>
                    </div>
                    <div class="container pb-3">
                        <div class="row mt-3">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4 ps-0 bg-light p-2 me-3">
                                        <div class="row">
                                            <div class="col">
                                                <img src="../../../public/images/projectImage.png" alt="none"
                                                    class="img-fluid">
                                            </div>
                                            <div class="col">
                                                <h3 class="fw-bold"> Project 1</h4>
                                                    <p> 03/2023</p>
                                                    <p> ID: 1000</p>
                                            </div>
                                        </div>
                                        <div class="mt-4 row align-items-center justify-content-center">

                                            <div class="col-auto ms-3">
                                                <i class="bi bi-pencil h3"></i>
                                            </div>
                                            <div class="col-auto text-center">
                                                <p class="mb-0">3 members</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col container-fluid bg-light me-3 ">
                                        <div class="row">
                                            <div class="col-auto p-2">
                                                <h4>Release status</h4>
                                                <hr>
                                                <div class="text-center">
                                                    <img src="../../../public/images/chart.png" alt=""
                                                        class="img-fluid w-75 h-auto">
                                                </div>
                                            </div>
                                            <div class="col pt-4">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h3 class="d-inline"> 5 </h3>
                                                        <i class="bi bi-circle-fill text-success d-inline-block"></i>
                                                        <p class="text-muted"> Passed </p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h3 class="d-inline"> 2 </h3>
                                                        <i class="bi bi-circle-fill text-primary d-inline-block"></i>
                                                        <p class="text-muted"> Untested </p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h3 class="d-inline"> 0 </h3>
                                                        <i class="bi bi-circle-fill text-muted d-inline-block"></i>
                                                        <p class="text-muted"> Blocked </p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h3 class="d-inline"> 0 </h3>
                                                        <i class="bi bi-circle-fill text-warning d-inline-block"></i>
                                                        <p class="text-muted"> Retest </p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h3 class="d-inline"> 0 </h3>
                                                        <i class="bi bi-circle-fill text-danger d-inline-block"></i>
                                                        <p class="text-muted"> Failed </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="container-fluid"> -->
                                    <div class="row mt-4 justify-content-between">
                                        <div class="col p-0">
                                            <div class="d-flex flex-column bg-light h-100 px-2" >
                                                <div class="mt-3 mx-auto bg-release rounded-circle d-flex justify-content-center align-items-center align-self-center "
                                                    style="width: 75px; height: 75px;">
                                                    <h1 class="mb-0 fw-bold"> 5</h1>
                                                </div>
                                                <h5 class="mt-1 fw-bold text-center"> Releases</h5>
                                                <div class="d-flex">
                                                    <i class="bi bi-plus-lg h5 fw-bold ms-auto "></i>
                                                </div>
                                                <div class="release-list-container mt-3">
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Release 1</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Release 2</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Release 3</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Release 4</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Release 5</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
        
                                                </div>
                                                <a class="text-center text-info mt-auto fs-4 text-decoration-none" href="../release/release.html"> View more</a>
                                            </div>
                                        </div>
                                        <div class="col p-0 ms-3">
                                            <div class="d-flex flex-column bg-light h-100 px-2" >
                                                <div class="mt-3 mx-auto bg-test-case rounded-circle d-flex justify-content-center align-items-center align-self-center"
                                                    style="width: 75px; height: 75px;">
                                                    <h1 class="mb-0 fw-bold"> 3</h1>
                                                </div>
                                                <h5 class="mt-1 fw-bold text-center"> Test Case</h5>
                                                <div class="d-flex">
                                                    <i class="bi bi-plus-lg h5 fw-bold ms-auto "></i>
                                                </div>
                                                <div class="release-list-container mt-3">
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Test case 1</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Test case 1</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Test case 1</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    
        
                                                </div>
                                                <a class="text-center text-info mt-auto fs-4 text-decoration-none" href="../testcase/testcase.html"> View more</a>
                                            </div>
                                        </div>
                                        <div class="col p-0 ms-3">
                                            <div class="d-flex flex-column bg-light h-100 px-2" >
                                                <div class="mt-3 mx-auto bg-test-run rounded-circle d-flex justify-content-center align-items-center align-self-center"
                                                    style="width: 75px; height: 75px;">
                                                    <h1 class="mb-0 fw-bold"> 2</h1>
                                                </div>
                                                <h5 class="mt-1 fw-bold text-center"> Test runs</h5>
                                                <div class="d-flex">
                                                    <i class="bi bi-plus-lg h5 fw-bold ms-auto "></i>
                                                </div>
                                                <div class="release-list-container mt-3">
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> test run 1</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> test run 1</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                </div>
                                                <a class="text-center text-info mt-auto fs-4 text-decoration-none" href="../test-run/test-run.html"> View more</a>
                                                
                                            </div>
                                        </div>
                                        <div class="col p-0 mx-3">
                                            <div class="d-flex flex-column bg-light h-100 px-2" >
                                                <div class="mt-3 mx-auto bg-issue rounded-circle d-flex justify-content-center align-items-center align-self-center"
                                                    style="width: 75px; height: 75px;">
                                                    <h1 class="mb-0 fw-bold"> 4</h1>
                                                </div>
                                                <h5 class="mt-1 fw-bold text-center"> Issues</h5>
                                                <div class="d-flex">
                                                    <i class="bi bi-plus-lg h5 fw-bold ms-auto "></i>
                                                </div>
                                                <div class="release-list-container mt-3">
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Issue 1</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Issue 1</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Issue 1</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
                                                    <div class="container d-flex px-0 mb-2">
                                                        <p class="d-inline"> Issue 1</p>
                                                        <i class="bi bi-eye d-inline-block ms-auto"></i>
                                                    </div>
        
                                                </div>
                                                <a class="text-center text-info mt-auto fs-4 text-decoration-none" href="../issues/issues.html"> View more</a>
                                                
                                            </div>
                                        </div>
                                        
    
                                    </div>
                                <!-- </div> -->
                                
                            </div>
                            <div class="col-md-4 bg-light">
                                <div class="mt-2 d-flex">
                                    <h4 class="d-inline"> Activity</h4>
                                    <a class="text-info d-inline ms-auto fs-4 text-decoration-none" href="activity-log.html"> View more</a>
                                </div>
                                <div class="container mt-3 px-0">
                                    <h5> 4/1/2024</h5>
                                    <div id="release"
                                        class=" bg-release d-flex align-items-center justify-content-center my-3 px-3"
                                        style="filter: saturate(50%);">
                                        <p class="d-inline my-3"> Release 2 - Create </p>
                                        <p class="ms-auto d-inline my-3">Nguyen An</p>
                                    </div>
                                    <div id="test-run"
                                        class=" bg-test-run d-flex align-items-center justify-content-center my-3 px-3"
                                        style="filter: saturate(50%);">
                                        <p class="d-inline my-3"> Test run 2 - Create </p>
                                        <p class="ms-auto d-inline my-3">Nguyen An</p>
                                    </div>
                                    <div id="test-case"
                                        class=" bg-test-case d-flex align-items-center justify-content-center my-3 px-3"
                                        style="filter: saturate(50%);">
                                        <p class="d-inline my-3"> Test case 1 - Create </p>
                                        <p class="ms-auto d-inline my-3">Nguyen An</p>
                                    </div>
                                    <div id="issue"
                                        class=" bg-issue d-flex align-items-center justify-content-center my-3 px-3"
                                        style="filter: saturate(50%);">
                                        <p class="d-inline my-3"> issue 1 - Create </p>
                                        <p class="ms-auto d-inline my-3">Nguyen An</p>
                                    </div>
                                </div>
                                <div class="container mt-3 px-0">
                                    <h5> 3/1/2024</h5>
                                    <div id="release"
                                        class=" bg-release d-flex align-items-center justify-content-center my-3 px-3"
                                        style="filter: saturate(50%);">
                                        <p class="d-inline my-3"> Release 1 - Create </p>
                                        <p class="ms-auto d-inline my-3">Dac Phu</p>
                                    </div>
                                    <div id="test-run"
                                        class=" bg-test-run d-flex align-items-center justify-content-center my-3 px-3"
                                        style="filter: saturate(50%);">
                                        <p class="d-inline my-3"> Test run 1 - Create </p>
                                        <p class="ms-auto d-inline my-3">Khai Hung</p>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>