body {
  background-image: linear-gradient(135deg, #b2ffb8 10%, #0413e5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.box-form {
  margin: 0 auto;
  width: 80%;
  background: #ffffff;
  border-radius: 10px;
  /* overflow: hidden; */
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #090b6f85;
  /* height: 95vh; */
}

.intro {
  flex: 60%;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
  overflow: hidden;
}

.loginform_container {
  margin: 30px;
}

.loginform {
  flex: 40%;
}

.intro_overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #0a6a83ad;
  overflow: hidden;
  box-sizing: border-box;
}

.loginform_title {
  margin-top: 40px;
  text-align: center;
  font-size: 6.5rem;
  font-weight: 400;
}

.loginform_instruct {
  margin-top: 10vh;
  font-size: 0.9rem;
  color: rgb(110, 117, 124);
}

.signup {
  color: var(--active-red-btn-color);
  cursor: pointer;
  text-decoration: none;
  font-size: 0.95rem;
}

.mainform {
  overflow: hidden;
}

.mainform input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
  border-radius: 0px;
}

#login_username {
  margin-top: 0px;
}

.loginform_saved_forgotpassword {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#checkbox {
  padding: 10px;
}

.savedpassword label {
  cursor: pointer;
}

#warning_signin {
  margin-top: 40px;
  height: 30px;
  color: rgb(255, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1rem;
}

.buttonlogin {
  cursor: pointer;
  margin-top: 8vh;
  margin-left: 10vw;
  color: #fff;
  font-size: 16px;
  padding: 12px 45px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px var(--blur-green-color);
  background-image: linear-gradient(
    135deg,
    var(--active-blue-btn-color) 10%,
    var(--primary-color) 100%
  );
}

.intro_title {
  text-align: center;
  font-size: 8rem;
  font-weight: 500;
}

.intro_description {
  color: rgb(241, 235, 235);
  height: 54px;
}

.intro_text_sociallogin {
  margin-top: 30px;
  font-weight: 500;
}

.sociallogin-icon {
  margin-right: 30px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 20px;
}

@media only screen and (max-width: 390px) {
  .box-form {
    width: 90%;
  }

  .loginform_container {
    margin: 30px 5px;
  }
}

@media only screen and (max-width: 850px) {
  .intro {
    display: none;
  }
}

.linked {
  position: relative;
}

.linked > a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
