body {
  background-image: linear-gradient(135deg, #b2ffb8 10%, #0413e5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}
.box-form {
  margin: 0 auto;
  width: 80%;
  background: #ffffff;
  border-radius: 10px;
  /* overflow: hidden; */
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #090b6f85;
  /* height: 97vh; */
}

.loginform_container {
  margin: 30px;
  margin-top: 10px;
}

.loginform {
  flex: 40%;
}

.loginform_title {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.loginform_instruct {
  margin-top: 10vh;
  font-size: 0.9rem;
  color: rgb(110, 117, 124);
}

.mainform {
  margin-top: 0px;
  overflow: hidden;
}

.mainform input,
.mainform select {
  width: 90%;
  padding: 7px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
  margin-bottom: 15px;
  display: block;
  border-radius: 0px;
}

.container_gender {
  display: flex;
  justify-content: space-around;
}

.container_gender_wrap {
  display: flex;
  margin-left: -10%;
}

.container_gender_wrap input {
  width: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.buttonlogin {
  cursor: pointer;
  margin: 0px auto;
  color: #fff;
  font-size: 16px;
  padding: 12px 45px;
  border-radius: 50px;
  display: flex;
  flex: 1 1 100%;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px var(--blur-green-color);
  background-image: linear-gradient(
    135deg,
    var(--active-blue-btn-color) 10%,
    var(--primary-color) 100%
  );
}

.signup_instruct {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #0066ff;
  display: none;
}

.required {
  color: red;
}

.required span {
  color: #000000;
}


.bottomform {
  display: flex;
  justify-content: space-between;
}

.bottomform a {
  text-decoration: none;
  font-size: 0.9rem;
  margin-right: 9%;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 2px 5px 0px #464444;
  border-radius: 3px;
}

.successSignup {
  color: #49c628;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .box-form {
    width: 70%;
    /* height: 95%; */
  }

  .signup_instruct {
    display: block;
  }
}
@media screen and (min-width: 870px) {
  .box-form {
    width: 40%;
    /* height: 95%; */
  }

  .signup_instruct {
    display: block;
  }
}

@media screen and (max-width: 870px) {
  .loginform_container {
    margin: 10px;
  }

  .box-form {
    height: unset;
  }
}

#signup_password {
  margin-bottom: 10px;
}

.loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 0px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
