.bg-gray {
  background-color: #edf1f4;
}

.bg-light {
  background-color: #ffffff;
}

.bg-color1 {
  background-color: #cfe2eb;
}

.text-color-1 {
  color: #024f75;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
